*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Python
__pycache__/
env/
*.py[cod]
*.pyo
*.pyd
*.env
*.env.*
*.venv
*.egg-info/
dist/
build/

# VSCode / IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Jupyter
.ipynb_checkpoints/

# Logs
*.log

# macOS
.DS_Store

# Secrets
secret_key.txt
.env

# Optional: pycache and cache folders
*.cache/
